* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-size: 12px;
  height: 100%;
  font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.nav {
  padding: 15px;
  background-color: #187b94;
  position: fixed;
  width: 100%; }
  .nav-title {
    color: #fafaff;
    font-size: 1.5rem; }

.thems_wrapper {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
  padding: 100px 10px; }

.darker_nav {
  background-color: #3a3636; }

.darker_body {
  background-color: #161515; }

.sky_nav {
  background-color: #187b94; }

.sky_body {
  background-color: #fff; }

.tangerine_nav {
  background-color: #e09d0c; }

.tangerine_body {
  background-color: #fff; }

.them {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.5px solid #ccc7c7;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer; }
  .them .li {
    flex: 1; }
  .them-name {
    background-color: #187b94;
    color: #fafaff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 20px; }
  .them_choise {
    position: relative;
    display: flex;
    background-color: #fafaff;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .them_choise .checked {
      position: absolute;
      right: 20px; }
    .them_choise_texts {
      width: 170px;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .them_choise_texts-li {
        background-color: #c9c6c6;
        width: 100%;
        height: 4px;
        border-radius: 3px; }
      .them_choise_texts .shorter {
        width: 100px; }
    .them_choise::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid gray;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      left: 20px; }

.them_2-nav {
  background-color: #3a3636; }

.them_2-content {
  background-color: #161515; }

.them_3-nav {
  background-color: #e09d0c; }

.hide {
  display: none; }

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  width: 300px;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  outline: none; }
  .link .link_btn-effect {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .link .link_btn-effect svg {
      width: 20px;
      height: 10;
      margin-left: 20px;
      color: #f18c08;
      transition: all 0.5s ease-in-out; }
  .link:hover .link_btn-effect {
    width: 100%; }
  .link:hover svg {
    transform: translateX(300%); }
  .link-btn {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 20px;
    outline: none;
    color: white; }
    .link-btn i {
      z-index: 5000; }
    .link-btn .txt {
      z-index: 10;
      opacity: 0.8;
      color: #daa703; }
    .link-btn:active {
      border: 1px solid #0bc9cf; }
  .link_btn-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    width: 20%;
    left: 0;
    background-color: #202122;
    transition: width 0.5s ease-in-out; }

.create_task {
  width: 160px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #3479f8;
  color: #fafaff;
  font-size: 14px;
  cursor: pointer; }
  .create_task:hover {
    background-color: #085af1; }

.nav_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%; }
  .nav_ul-li {
    position: relative; }
    .nav_ul-li a {
      padding-bottom: 5px;
      color: #fafaff;
      font-size: 1.5rem; }
      .nav_ul-li a:hover::after {
        content: "";
        display: inline-block;
        width: 40px;
        height: 1px;
        background-color: #fafaff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        top: 29px; }

.app_Container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
  padding-top: 100px; }
  .app_Container .app_wrapper {
    max-width: 600px;
    height: 90%;
    padding: 5px;
    margin: auto;
    background-color: #eeebeb;
    border-radius: 10px;
    position: relative; }

.task_container {
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: -1; }

.tasks_wrapper {
  padding: 20px 30px;
  height: 100%;
  position: relative; }

.task {
  position: relative; }
  .task_description {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%; }
  .task-title {
    cursor: pointer; }
    .task-title .sort {
      position: absolute;
      right: -30px;
      color: #3479f8;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
    .task-title .show-sort {
      visibility: visible;
      opacity: 1; }
    .task-title:hover {
      color: #085af1; }
  .task_list {
    height: 0;
    transition: all 0.9s ease-in-out;
    overflow: hidden;
    transition: all 0.9s ease-in-out; }
    .task_list-li {
      padding: 10px 60px;
      color: #000;
      font-size: 1rem;
      position: relative;
      border-radius: 10px;
      margin-bottom: 2px;
      display: flex;
      justify-content: space-between;
      transition: all 0.9s ease-in-out; }
      .task_list-li .task_status {
        color: #ecdede;
        background-color: #23ceb7;
        padding: 3px 10px;
        border-radius: 5px;
        text-align: center; }
      .task_list-li::before {
        content: "";
        position: absolute;
        left: 20px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid gray; }
      .task_list-li .priority {
        position: absolute;
        left: 2px;
        top: 0;
        height: 90%;
        width: 5px;
        border-radius: 20px; }
      .task_list-li:hover {
        background-color: #dedfe0;
        cursor: pointer; }

.task_count {
  background-color: #3479f8;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-weight: normal;
  font-size: 15px;
  transition: all 0.3s ease-in-out; }

.count {
  background-color: #c96567; }

.task_title_clicked {
  color: #085af1; }

.hidden {
  visibility: hidden; }

.form_container {
  position: absolute;
  padding: 10px;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  transform: translate(2%, -5%);
  opacity: 0;
  overflow: hidden; }
  .form_container .form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    padding-top: 20px; }
    .form_container .form_wrap {
      display: flex;
      padding: 10px; }
    .form_container .form_btn {
      width: 100%;
      padding: 10px;
      cursor: pointer;
      color: #085af1;
      font-weight: bolder;
      border: none;
      outline: none;
      box-shadow: 1px 1px 5px 1px #bdd9e6;
      border-radius: 10px;
      background-color: #fff; }
      .form_container .form_btn:active {
        outline: 1px solid #fff; }
    .form_container .form .form_about {
      flex: 3;
      border-right: 2px solid #f2f5f2;
      padding: 0 10px; }
      .form_container .form .form_about-task {
        width: 100%;
        border: 1px solid #b1b1ab;
        padding: 10px;
        outline: none;
        border-radius: 10px; }
        .form_container .form .form_about-task:focus {
          background-color: #eeeee8;
          border: 1px solid #0299be; }
        .form_container .form .form_about-task::placeholder {
          font-size: 18px; }
      .form_container .form .form_about-description {
        width: 100%;
        border: 1px solid #b1b1ab;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        overflow: hidden;
        resize: none;
        height: 20px;
        padding-bottom: 30px;
        padding-top: 10px;
        padding-left: 0;
        margin-bottom: 80px; }
        .form_container .form .form_about-description:focus {
          background-color: #eeeee8;
          border: 1px solid #0299be; }
        .form_container .form .form_about-description::placeholder {
          font-size: 13px; }
      .form_container .form .form_about-title {
        display: inline-block;
        padding: 5px;
        font-weight: bolder; }
      .form_container .form .form_about_type {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-flow: wrap;
        color: #06608a; }
        .form_container .form .form_about_type .type {
          background-color: #fffefe;
          padding: 5px;
          border-radius: 10px;
          box-shadow: 1px 1px 5px 1px #bdd9e6;
          margin-bottom: 30px;
          cursor: pointer; }
          .form_container .form .form_about_type .type i {
            color: #06608a;
            margin-right: 10px; }
        .form_container .form .form_about_type .task_type-selected {
          background-color: #0ea2cf; }
    .form_container .form .form_details {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 20px;
      align-items: center; }
      .form_container .form .form_details div {
        margin-bottom: 30px;
        width: 100px;
        text-align: center;
        cursor: pointer;
        z-index: 32; }
        .form_container .form .form_details div:nth-child(3) {
          cursor: unset; }
        .form_container .form .form_details div h4 {
          font-size: 12px;
          color: #115768;
          padding-bottom: 2px; }
        .form_container .form .form_details div label {
          cursor: pointer;
          display: inline-block;
          border-radius: 10px;
          padding-top: 2px;
          width: 100px;
          height: 20px;
          text-align: center;
          color: #28928d;
          font-weight: bold; }

.form_modal-Show {
  visibility: visible;
  z-index: 90;
  opacity: 1;
  transform: translate(5%, 10%); }
  @media (max-width: 700px) {
    .form_modal-Show {
      transform: translate(-2%, -2.5%); } }

.status_wrapper {
  position: absolute;
  left: 0;
  display: flex;
  background-color: #fffefe;
  padding: 10px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 180;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out; }
  .status_wrapper .title {
    padding: 5px;
    padding-bottom: 10px;
    box-shadow: 1px 2px 1px #dfdada; }
  .status_wrapper .status_list {
    width: 300px; }
    .status_wrapper .status_list-li:nth-child(1) {
      background-color: #23ceb7; }
    .status_wrapper .status_list-li:nth-child(2) {
      background-color: #ccb00f; }
    .status_wrapper .status_list-li:nth-child(3) {
      background-color: #64df2b; }
    .status_wrapper .status_list-li {
      padding: 10px;
      border-bottom: 1px solid #c4b7b7;
      transition: background-color 0.4s ease-in;
      position: relative; }
      .status_wrapper .status_list-li .status_icon {
        color: green;
        position: absolute;
        right: 15px;
        visibility: hidden; }
      .status_wrapper .status_list-li .status_selected {
        visibility: visible; }
      .status_wrapper .status_list-li:hover {
        opacity: 0.9;
        cursor: pointer; }

.status-show {
  opacity: 1;
  visibility: visible; }

.overlay {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 120; }

.show {
  display: inline-block; }

.priority_wrapper {
  position: absolute;
  left: 0;
  display: flex;
  background-color: #fffefe;
  padding: 10px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  z-index: 180;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out; }
  .priority_wrapper .priority {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #046d88; }
    .priority_wrapper .priority label {
      cursor: pointer; }
    .priority_wrapper .priority-cancel {
      border-right: 2px solid #0c5c81;
      padding-right: 50px; }
  .priority_wrapper .title {
    padding: 5px;
    padding-bottom: 10px;
    box-shadow: 1px 2px 1px #dfdada; }
  .priority_wrapper .priority_list li:nth-child(1) {
    background-color: #965657; }
  .priority_wrapper .priority_list li:nth-child(2) {
    background-color: #e8a87c; }
  .priority_wrapper .priority_list li:nth-child(3) {
    background-color: #2880a3; }
  .priority_wrapper .priority_list li:nth-child(4) {
    background-color: #85dccb; }
  .priority_wrapper .priority_list {
    width: 300px; }
    .priority_wrapper .priority_list-li {
      padding: 20px;
      padding-left: 50px;
      border-bottom: 1px solid #c4b7b7;
      transition: background-color 0.4s ease-in;
      position: relative; }
      .priority_wrapper .priority_list-li::before {
        content: "";
        position: absolute;
        display: inline-block;
        left: 14px;
        padding: 10px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #c2aaaa;
        background-color: #fff; }
      .priority_wrapper .priority_list-li .priority_icon {
        padding: 5px;
        color: #0a8379;
        position: absolute;
        left: 15px;
        visibility: hidden;
        z-index: 1; }
      .priority_wrapper .priority_list-li .priority_selected {
        visibility: visible; }
      .priority_wrapper .priority_list-li:hover {
        background-color: #e5e5eb;
        cursor: pointer; }

.priority-show {
  opacity: 1;
  visibility: visible; }

.task-overlay {
  position: fixed;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 120;
  z-index: 30; }

.task_overlay-show {
  display: inline-block; }

.update_wrapper {
  display: flex;
  z-index: 30;
  background-color: #fff;
  position: absolute;
  width: 100%;
  max-width: 350px;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%); }
  .update_wrapper .update_modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px; }
    .update_wrapper .update_modal_header {
      padding: 20px;
      width: 100%;
      padding-bottom: 20px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4); }
    .update_wrapper .update_modal .form {
      padding: 20px; }
      .update_wrapper .update_modal .form-task {
        width: 100%;
        border: 1px solid #b1b1ab;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px; }
        .update_wrapper .update_modal .form-task:focus {
          background-color: #eeeee8;
          border: 1px solid #0299be; }
        .update_wrapper .update_modal .form-task::placeholder {
          font-size: 18px; }
      .update_wrapper .update_modal .form-textArea {
        width: 100%;
        border: 1px solid #b1b1ab;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        overflow: hidden;
        resize: none;
        height: 20px;
        padding-bottom: 30px;
        padding-top: 10px;
        padding-left: 0;
        margin-bottom: 80px;
        margin-bottom: 0;
        padding-left: 10px; }
        .update_wrapper .update_modal .form-textArea:focus {
          background-color: #eeeee8;
          border: 1px solid #0299be; }
        .update_wrapper .update_modal .form-textArea::placeholder {
          font-size: 18px; }
      .update_wrapper .update_modal .form-title {
        display: inline-block;
        font-size: 20px;
        font-weight: bolder;
        color: #477e8b;
        font-size: 16px;
        margin: 10px 0; }
    .update_wrapper .update_modal .info {
      padding: 0 20px;
      display: flex;
      flex-direction: column; }
      .update_wrapper .update_modal .info h3 {
        cursor: pointer;
        position: relative;
        margin-bottom: 20px;
        font-weight: bold; }
      .update_wrapper .update_modal .info span {
        margin-left: 10px;
        display: inline-block;
        width: 80px;
        height: 20px;
        position: absolute;
        padding: 2px;
        color: white;
        left: 120px;
        font-size: 12px;
        background-color: #23ceb7;
        font-weight: bolder;
        border-radius: 10px;
        text-align: center; }
    .update_wrapper .update_modal .form-end {
      display: flex;
      padding: 20px;
      width: 100%;
      justify-content: space-around; }
      .update_wrapper .update_modal .form-end button {
        cursor: pointer; }
      .update_wrapper .update_modal .form-end .delete-task {
        color: red;
        font-size: 15px;
        padding-right: 40px;
        transition: all 0.1s ease-in-out;
        border: none;
        outline: none;
        width: 140px;
        background-color: #fff;
        border-right: 1px solid #163e55; }
        .update_wrapper .update_modal .form-end .delete-task:hover {
          font-weight: bold; }
      .update_wrapper .update_modal .form-end .update-save {
        width: 140px;
        background-color: #fff;
        color: #146286;
        font-size: 15px;
        transition: all 0.1s ease-in-out;
        border: none;
        outline: none; }
        .update_wrapper .update_modal .form-end .update-save:hover {
          font-weight: bold; }

.showUpdateModal {
  visibility: visible;
  opacity: 1; }
