.task_container {
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: -1;
}
.tasks_wrapper {
  padding: 20px 30px;
  position: relative;
  max-height: 460px;

  // overflow: scroll;
}

.task {
  position: relative;
  &_description {
    overflow: hidden;
    width: 100%;
    @include flexPos(space-between);
  }

  &-title {
    cursor: pointer;
    .sort {
      position: absolute;
      right: -30px;
      color: rgb(52, 121, 248);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    .show-sort {
      visibility: visible;
      opacity: 1;
    }
    &:hover {
      color: darken($task_btn, 10%);
    }
  }
  &_list {
    height: 0;
    transition: all 0.9s ease-in-out;
    overflow: hidden;
    transition: all 0.9s ease-in-out;
    &-li {
      padding: 10px 60px;
      color: #000;
      font-size: 1rem;
      position: relative;
      border-radius: 10px;
      margin-bottom: 2px;
      display: flex;
      justify-content: space-between;
      transition: all 0.9s ease-in-out;

      .task_status {
        color: rgb(236, 222, 222);
        background-color: #23ceb7;
        padding: 3px 10px;
        border-radius: 5px;
        text-align: center;
      }
      &::before {
        @include before;
      }
      .priority {
        position: absolute;
        left: 2px;
        top: 0;
        height: 90%;
        width: 5px;
        border-radius: 20px;
      }

      &:hover {
        background-color: lighten($task_list, 50%);
        cursor: pointer;
      }
    }
  }
}
.task_count {
  background-color: $task_btn;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-weight: normal;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.count {
  background-color: #c96567;
}

.task_title_clicked {
  color: darken($task_btn, 10%);
}
.hidden {
  visibility: hidden;
}
