//theme styles for javascript

.darker_nav {
  background-color: $theme_2;
}
.darker_body {
  background-color: $theme_2-content;
}

.sky_nav {
  background-color: rgb(24, 123, 148);
}
.sky_body {
  background-color: #fff;
}

.tangerine_nav {
  background-color: rgb(224, 157, 12);
}
.tangerine_body {
  background-color: #fff;
}
