// @mixin flexCenter {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
@mixin flexPos($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  width: 100%;
  height: 100%;
}
@mixin overlay($opacity: 1, $color: rgba(0, 0, 0, 0.5)) {
  position: fixed;
  opacity: $opacity;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color;
  z-index: 120;
}

@mixin title {
  color: $theme_1-text;
  font-size: 1.5rem;
}
@mixin btnSize {
  width: 100%;
  height: 100%;
}
@mixin before {
  content: "";
  position: absolute;
  left: 20px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid gray;
}

@mixin form_btn($placeholder_font: 18px) {
  width: 100%;
  border: 1px solid #b1b1ab;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  &:focus {
    background-color: #eeeee8;
    border: 1px solid #0299be;
  }
  &::placeholder {
    font-size: $placeholder_font;
  }
}
@mixin posAlignCenter($translate: translateY(-50%)) {
  top: 50%;
  left: 50%;
  transform: $translate;
}
@mixin hoverBtn {
  transition: all 0.1s ease-in-out;
  &:hover {
    font-weight: bold;
  }
}

@mixin labelTitle {
  font-size: 20px;
  font-weight: bolder;
  color: #477e8b;
}

@mixin textArea {
  overflow: hidden;
  resize: none;
  height: 20px;
  padding-bottom: 30px;

  padding-top: 10px;
  padding-left: 0;
  margin-bottom: 80px;
}
